@font-face {
    font-family:"plain-light" ;
    src: url(./finalProjectFont/plain-light-webfont.ttf);
}
@font-face {
    font-family:"plain-regular" ;
    src: url(./finalProjectFont/plain-regular-webfont.ttf);
}
@font-face {
    font-family:"silkserif-lightitalic" ;
    src: url(./finalProjectFont/silkserif-lightitalic-webfont.ttf);
}
@font-face {
    font-family:"silkserif-regularitalic" ;
    src: url(./finalProjectFont/silkserif-regularitalic-webfont.ttf);
}
@font-face {
    font-family:"MarquesfreeOutlineitalic" ;
    src: url(./finalProjectFont/MarquesfreeOutlineitalic-nRpGM.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
    font-family: "plain-regular";
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}



/* #crsr{
    height: 2vw;
    width: 2vw;
    //background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f9f3f3;
    position: fixed;
    z-index: 99999;
    mix-blend-mode: difference;
    transform: translateX(-50%,-50%);
} */

.mousefollower{
    border:3px solid #ffffff;
    background-color: #ffffff;
    scale: 2;
    mix-blend-mode: difference;

    
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #110f0f;
    padding: 20vh 10vw;
}

.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4vw;
}

 .line h1{
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 900;
    font-family:"plain-light";
    /* background-color: red; */

 }

 .line h2{
    /* width: 15vw; */
    /* height: 6.6vw; */
    /* padding-left: 1vw; */
    font-size: 4.8vw;
    /* text-align: center; */
    text-transform: uppercase;
    font-weight: 900;
    font-family:"plain-light";
    /* background-color: aqua; */

 }

 .line:last-of-type{
    gap:2vw;
 }

 #count{
    display: flex;
    align-items: center;
    justify-content: start;
    /* gap: 1.2vw; */
 }

 #count h5 , #count h6{
    font-family: 'silkserif-lightitalic';
    font-size: 3vw;
    font-weight: 100;
    width: 7vw;
    text-align: center;
    /* opacity: 0; */
 }


/* wrapper div main */
#main{
    position: relative;
    background-color: #000000;
    /* background-color: aqua; */
}

/* page1 */
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    /* background-color: aqua; */
}


/* navbar */
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
    font-family: 'plain-regular';
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 0.8vw;
}


/* hero bolck of page1 */
.hero{
    margin-left: 27%;
    width: 72%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#page1 .hero:nth-of-type(2){
    /* ye nav ko 1 pr mann raha hai issliye kaam nhi kr raha  */
    /* padding-top: 10vw; */
    margin-top: 14vh;
    /* margin dena better hai  */
    /* background-color: aqua; */
}

.hero h1{
    font-size: 6.2vw;
    text-transform: uppercase;
    font-weight: 600;
    font-family:"plain-light";
    line-height: 6.1vw;
    /* background-color: red; */
    position: relative;
}

#hero1::before{
    content: "01";
    font-size: 3vw;
    font-family: "silkserif-regularitalic";
    position: absolute;
    left: 20%;
    top: 29%;
}

#hover1,#hover2{
    border-bottom: 0.5vw solid #fff;
    margin-right: 0.5vw;
    padding-bottom: 0.4vw;
    /* transition: all ease 0.3s; */
}

#hover1:hover,#hover2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    border: none;
    /* border: 0.5vw solid transparent; */
}

/* flag img for animation on hero section  */
#flag{
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    opacity: 0;
}

#hero3{
    /* background-color: red; */
    position: relative;
    z-index: 999;
}


/* page2 */

#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    /* padding-top: 10vh; */
    margin-top: 12vh;
    position: relative;
    /* margin-bottom: 15vw; */
}

#video-container{
    height: 66vh;
    width: 71vw;
    /* width: calc(100vw - 30%); */
    position: relative;
    left: 28%;
    /* background-color: red; */
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
    
}
#video-continer img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

#video-continer video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

#video-cursur{
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    background-color: #ffa63d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-15%;
    left: 70%;
    z-index: 99;
}

#video-cursur i{
    font-size: 2vw;
}

/* page3 */

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 17vh 2vw;
    position: relative;
    margin-bottom: 12vw;
}

#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-family: "plain-regular";
    position: relative;
    margin-left: 27vw;
    /* margin-top: 15vh; */
}

#page3 h1::before{
    content: "02";
    font-size: 3vw;
    font-family: "silkserif-regularitalic";
    position: absolute;
    left: -12%;
    top: 10%;
}

#page3 .underline{
    /* width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 5vw 0; */
    margin-left: 27vw;
}

#page3 #img-div-container{
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    /* min-height: 100%; */
    /* height: 100%; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.image-div{
    height: 40vw;
    width: 30vw;
    margin: 2vw;
    /* background-color: #3f7df4; */
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



/* .image-div:hover img:nth-of-type(2){
    display: none;

} */

/* nth-child */

.image-div:nth-child(1){
    height: 29vw;
    width: 24vw;
}

/* page3-circle1 */
.page3-circle1{
    height: 23vw;
    width: 23vw;
    /* background-color: #ffa63d; */
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
    margin-left: 8vw;
    position: relative;


}

.page3-circle1 svg{
    height: 30%;

}

/* page3-circle2 */
.page3-circle2{
    height: 23vw;
    width: 23vw;
    /* background-color: #ffa63d; */
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}

.page3-circle2 svg{
    height: 30%;
    rotate: -35deg;

}

.circle-in{
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    transition: all ease 0.3s;
}

.circle-in p{
    font-size: 1vw;
    color: #000000;
    /* width: 80%; */
    scale: 0;
    transition: all ease 0.3s;
    transition-delay: 0.5s;
    opacity: 0;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}

.page3-circle2:hover .circle-in p{
    scale: 1;
    opacity: 1;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}

.page3-circle1:hover .circle-in p{
    scale: 1;
    opacity: 1;
}

/* all project circle */
.page3-circle4{
    height: 23vw;
    width: 23vw;
    background-color: #f19721;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 25vh 33vw;
    transition: all 0.5s ease-in-out;
}

.page3-circle4 h3{
    font-weight: 300;
}

.page3-circle4:hover{
    scale: 0.9;
}



/* page4 */

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 7vh;
    position: relative;
    /* overflow-y: auto; */
    /* background-color: #ffa63d; */
}

#page4-content{
    position: relative;
    /* background-color: #3de2ff; */
    width: 71vw;
    height: 285vh;
    margin-left: 28vw;

}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-family: "plain-regular";
    position: relative;
}

#page4-content h1::before{
    content: "03";
    font-size: 3vw;
    font-family: "silkserif-regularitalic";
    position: absolute;
    left: -12%;
    top: 10%;
}

#page4-content .underline{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 5vw 0;
}

#page4-content>p{
    font-size: 2.1vw;
    width: 45%;
    margin-bottom: 5vw;
}


#page4-flex{
    display: flex;
}

#page4-flex img{
    width: 45%;
    /* height: 20%; */
    object-fit: cover;
    /* overflow: hidden; */
}

#page4-flex p{
    font-size: 1.01vw;
    width: 25%;
    line-height: 1.4vw;
    margin-left: 2vw;

}

#blue-div{
    width: 32vw;
    height:43vw ;
    background-color: #3f7df4;
    padding: 3vw;
    /* position: absolute;
    bottom: 15%;
    right: 20%; */
    position: relative;
    margin-top: -15vw;
    margin-left: 24vw;
}

.blue-elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 0;
    border-bottom: 1px solid #fff;
}

.blue-elem h4{
    font-size: 1.7vw;
    font-weight: 200;
}

.blue-elem p{
    font-size: 1vw;
    font-weight: 100;
    width: 40%;
}

#page4-content .underline:nth-last-of-type(1){
    /* background-color: #ffa63d; */
    margin-top: 10vw;
    margin-bottom: 2vw;
}

#page4-content>h5{
    font-size: 1.3vw;
    font-weight: 100;
}

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    /* background-color: #ffa63d; */
    position: relative;
}

.scroll-ele{
    /* background-color: red; */
    white-space: nowrap;
    margin-bottom: -2vw;
    overflow-x: hidden;
}

.scroll-ele h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    display: inline-block;
    margin-right: 16px;
    animation-name: anime;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.scroll-ele2{
    /* background-color: red; */
    white-space: nowrap;
    margin-bottom: -2vw;
    overflow-x: hidden;
}
.scroll-ele2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    display: inline-block;
    margin-right: 16px;
    transform: translateX(calc(-100% - 20px));
    animation-name: anime;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.scroll-ele span{
    font-style: italic;
    color: transparent;
    font-family: "silkserif-regularitalic";
}
.scroll-ele2 span{
    font-style: italic;
    color: transparent;
    font-family: "silkserif-regularitalic";

}


@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

/* footer div */

#footer{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;

}

#footer-content{
    /* background-color: #ffa63d; */
    width: 71vw;
    height: 115vh;
    margin-left: 22vw;
    margin-right: 5vw;
    position: relative;
    padding-top: 7vh;
}

#footer-content h1{
    /* background-color: #3dff4a; */
    font-size: 7vw;
    text-transform: uppercase;
    /* letter-spacing: 7px; */
    font-weight: 300;
    position: relative;
}


#footer-content h1::before{
    content: "04";
    font-size: 3vw;
    font-family: "silkserif-regularitalic";
    position: absolute;
    left: -12%;
    top: 10%;
}

#footer-div{
    height: 20vw;
    width: 100%;
    /* background-color: #3f7df4; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 9vw;
}
.box{
    height: 80%;
    width: 20%;
}
.box h6{
    font-size: 1.04vw;
    margin-bottom: 1.7vw;
    font-weight: 500;
}
.box h5{
    font-size: 1.6vw;
    font-weight: 300;
    /* margin-bottom: 2vw; */
}

.underline{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 5vw 0;
}

#footer-content .underline:last-of-type{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 5vw;
    margin-bottom: 2vw;
}

#footer-content h6:nth-last-child(1){
    font-size: 1vw;
    /* color: red; */
}


/* canvas container */

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;

}


/* responsive code */

@media (max-width:600px) {
    
    /* page1 */
    #page1{
        height: 80vh;
        width: 100%;
        /* background-color: #151515; */
        /* background-color: aqua; */
    }
    
    /* navbar */
    #nav{
        padding-top: 4vw;
        padding-bottom:4vw;
    }
    
    #nav-part2{
        gap: 3.5vw;
    }
    
    #nav-part2 h4{
        font-size: 1.8vw;
    }


    /* hero bolck of page1 */
    .hero{
        margin-left: 8%;
    }

    #page1 .hero:nth-of-type(2){
        margin-top: 20vh;
    }

    .hero h1{
        font-size: 9.5vw;
        line-height: 9.8vw;
    }

    #hero1::before{
        font-size: 6vw;
        left: 8%;
        top: 26%;
    }

    /* flag img for animation on hero section  */
    #flag{
        height: 35vw;
    }

    /* page2 */
    #page2{
        height: 90vh;
        width: 100%;
        margin-top: 12vh;
        position: relative;
    }

    #video-container{

        height: 100%;
        width: 100%;
        left: 0;
        background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
        background-size: cover;
        background-position: center;
    }

    #video-continer img{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }

    #video-continer video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0;
    }

    #video-cursur{
        height: 19vw;
        width: 19vw;
        top:30%;
        left: 45%;
    }

    #video-cursur i{
        font-size: 4vw;
    }




}